<form class="form-horizontal" name="form1" ng-submit="onSubmit(form1)">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-info">
      <i class="fa fa-edit"></i>
      <!-- 恢复 -->
      {{'updateStorageClass.title'|translate}}
    </h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <div class="col-sm-12 pdt4">{{'updateStorageClass.text1'|translate}}</div>
      <div class="col-sm-12 pdt4">{{'updateStorageClass.text2'|translate}}</div>
      <div class="col-sm-12 pdt4">{{'updateStorageClass.text3'|translate}}</div>
      <div class="col-sm-12 pdt4">{{'updateStorageClass.text4'|translate}}</div>
    </div>

    <div is-loading ng-if="isLoading"></div>
    <div ng-if="!isLoading" class="form-group" ng-class="{'has-error': form1.name.$dirty && !form1.name.$valid,
  'has-success': form1.name.$dirty && form1.name.$valid}">
      <div class="form-group">
        <label class="col-sm-3 control-label">
          <!-- 文件: -->
          {{'file'|translate}}:
        </label>
        <div class="col-sm-8 input-md pdt4">
          <input type="text" ng-model="path" readonly placeholder="bucket" class="input-md form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">
          <!-- 当前存储类型: -->
          {{'updateStorageClass.current'|translate}}:
        </label>
        <div class="col-sm-8 input-md pdt4">
          <input type="text" ng-model="info.name" readonly class="input-md form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">
          <!-- * 修改为: -->
          * {{'updateStorageClass.setTo'|translate}}:
        </label>
        <div ng-if="info.type!==1">
          <div class="col-sm-3 input-md pdt4 radio">
            <label><input type="radio" name="info" ng-model="info.updateTo" value="Standard">{{'storageClassesType.standard'|translate}}</label>
          </div>
        </div>
        <div ng-if="info.type!==2">
          <div class="col-sm-3 input-md pdt4 radio">
            <label><input type="radio" name="info" ng-model="info.updateTo" value="InfrequentAccess">{{'storageClassesType.infrequentaccess'|translate}}</label>
          </div>
        </div>
        <div ng-if="info.type!==3">
          <div class="col-sm-3 input-md pdt4 radio">
            <label><input type="radio" name="info" ng-model="info.updateTo" value="Glacier">{{'storageClassesType.glacier'|translate}}</label>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="isLoading || info.msg" type="submit" class="btn btn-success btn-sm">
      <i class="glyphicon glyphicon-ok"></i>
      <!-- 确定 -->
      {{'ok'|translate}}
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">
      <i class="glyphicon glyphicon-remove"></i>
      <!-- 取消 -->
      {{'cancel'|translate}}
    </button>
  </div>
</form>
