<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-info">
        <i class="glyphicon glyphicon-cloud-upload text-info"></i>
        {{'uploadModal.title'|translate}}
    </h4>
</div>
<div class="modal-body">
    <div class="container-fluid upload-confirm-modal-body">
        <div class="selected-files-container">
            <div class="selected-files-title">
                {{'uploadModal.selectedFilesTitle'|translate}}
            </div>
            <div class="selected-files-list">
                <ul>
                    <li ng-repeat="file in showFiles">
                        <span class="icon" ng-style="{'color': file.isDir ? '#ffa500' : 'inherit'}" role="img">
                            <i class="fa" ng-class="{'fa-folder': file.isDir, 'fa-file-o': !file.isDir}"></i>
                        </span>
                        <span class="file-name">
                            {{file.isDir ? file.path : file.basename}}
                        </span>
                    </li>
                    <li ng-if="files.length > maxShowFiles">...（{{files.length}} {{'uploadModal.maxShowFilesHelper'|translate}}）</li>
                </ul>
            </div>
        </div>
        <form class="upload-options-form" name="uploadConfirmForm">
            <div class="form-group">
                <span class="form-item-title">{{'uploadModal.ifCoverUpload'|translate}}：</span>
                <div class="form-item-option overwrite-options">
                    <label>
                        <input type="checkbox" ng-model="uploadConfirmFormData.isOverwrite">
                        <span>{{'uploadModal.ifCoverUploadHelper'|translate}}</span>
                    </label>
                </div>
            </div>
            <div class="form-group" ng-hide="storageClassOptions.length === 0">
                <span class="form-item-title">{{'storageClassesType'|translate}}：</span>
                <div class="form-item-option">
                    <div class="storage-class-options">
                        <label ng-repeat="option in storageClassOptions">
                            <input type="radio" name="storageClassOption" ng-model="uploadConfirmFormData.storageClassName" value="{{option.kodoName}}">
                            {{option.nameI18n|i18n}}
                        </label>
                    </div>
                    <div class="storage-class-help-text">
                        <span class="help-block">{{uploadConfirmFormHelper.storageClassBilling|i18n}}</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-disabled="isLoading" type="button"
            ng-click="ok()"
            class="btn btn-success btn-sm">
        <i class="glyphicon glyphicon-ok"></i>
        {{'uploadModal.ok'|translate}}
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">
        <i class="glyphicon glyphicon-remove"></i>
        {{'cancel'|translate}}
    </button>
</div>
