<nav class="navbar navbar-default navbar-fixed-top navbar-inverse my-nav" ng-controller="topCtrl">

  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" ng-click="click10()">
        <img src="{{app.logo}}" style="display:inline-block;" width="40" /> {{'app.name'|translate}}
      </a>
      <label class="app-version" ng-click="showReleaseNote()">v{{app.version}}</label>
    </div>

    <div class="collapse navbar-collapse" id="collapse-1" ng-if="!showGuestNav">
      <ul class="nav navbar-nav">
        <li ng-class="{active: showTab === 1 && ref.mode.startsWith('local')}">
          <a href="#" ng-click="showBucketsOrFiles()">
            <i class="glyphicon glyphicon-folder-close"></i>
            {{'files'|translate}}
            <!-- 文件 -->
          </a>
        </li>
        <li ng-class="{active: showTab === 1 && ref.mode.startsWith('external')}" ng-if="isExternalPathEnabled()">
          <a href="#" ng-click="showExternalPaths()">
            <i class="fa fa-map-signs"></i>
            {{'externalPath'|translate}}
            <!-- 外部路径 -->
          </a>
        </li>
        <li>
          <a href="" ng-click="showSettings()">
            <i class="fa fa-cog"></i>
            {{'settings'|translate}}
            <!-- 设置 -->
          </a>
        </li>
        <li>
          <a href="" ng-click="showBookmarks()">
            <i class="fa fa-star"></i>
            {{'bookmarks'|translate}}
            <!-- 设置 -->
          </a>
        </li>
        <li>
          <a href="" ng-click="showAbout()">
            <i class="fa fa-info"></i> {{'about'|translate}}
            <!-- 关于 -->
            <small class="new-animate label label-success" ng-if="!upgradeInfo.isLastVersion">new</small>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle"></i> {{authInfo.username|sub:20}}
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
              <a href="" ng-click="switchAccount()">
                <i class="text-info fa fa-exchange"></i>
                {{'switch'|translate}}
                <!-- 切换账号 -->
              </a>
            </li>
            <li>
              <a href="" ng-click="logout()">
                <i class="text-danger fa fa-power-off"></i>
                {{'logout'|translate}}
                <!-- 退出 -->
              </a>
            </li>
          </ul>

        </li>
      </ul>

    </div>

    <div class="collapse navbar-collapse" ng-if="showGuestNav">
      <ul class="nav navbar-nav">
        <li>
          <a href="" ng-click="showAbout()">
            <i class="fa fa-info"></i> {{'about'|translate}}
            <!-- 关于 -->
            <small class="new-animate label label-success" ng-if="!upgradeInfo.isLastVersion">new</small>
          </a>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-inline form-group">
          <label class="control-label">{{'language'|translate}}:</label>
          <select class="form-control input-sm" ng-model="langSettings.lang" ng-change="langSettings.changeLanguage(langSettings.lang)"
            ng-options="a.lang as a.label for a in langSettings.langList"></select> &nbsp;
        </div>
      </form>
    </div>

  </div>

</nav>

<div style="clear:both;margin-bottom:50px;"></div>
