<div is-loading ng-if="_Loading"></div>
<div ng-if="!_Loading && info.type">

    <div ng-if="info.type==1" class="text-center bg-danger" style="padding:20px">
        <!-- 归档/深度归档文件，需要恢复才能预览或下载   -->
        <span ng-if="storageClassName==='archive'">
            {{'restore.checker.hint.archive.needUnfreeze' | translate}}
        </span>
        <span ng-if="storageClassName==='deeparchive'">
            {{'restore.checker.hint.deepArchive.needUnfreeze' | translate}}
        </span>
        <a href="" class="btn btn-primary" ng-click="showRestore()">
            <!-- 立即恢复 -->
            {{'restore.checker.unfreezeButton' | translate}}
        </a>
    </div>
    <div ng-if="info.type==2" class="text-center bg-warning" style="padding:20px"><i class="fa fa-hourglass-2"></i>
        <!-- 归档/深度归档文件正在恢复中，请耐心等待... -->
        <span ng-if="storageClassName==='archive'">
            {{'restore.checker.hint.archive.unfreezing' | translate}}
        </span>
        <span ng-if="storageClassName==='deeparchive'">
            {{'restore.checker.hint.deepArchive.unfreezing' | translate}}
        </span>
    </div>
    <div ng-if="info.type==3" class="text-center bg-primary pd-4">
        <!-- 归档/深度归档文件已恢复 -->
        <span ng-if="storageClassName==='archive'">
            {{'restore.checker.hint.archive.unfrozen' | translate}}
        </span>
        <span ng-if="storageClassName==='deeparchive'">
            {{'restore.checker.hint.deepArchive.unfrozen' | translate}}
        </span>
    </div>

</div>
<section ng-if="!_Loading && info.showContent">
    <ng-transclude></ng-transclude>
</section>
