<div class="" ng-controller="transferUploadsCtrl">
  <header class="pd4 text-right" style="border-bottom:1px solid #ddd;">

    <div class="pull-left" style="position:relative">
      <input type="text" cleanable-input placeholder="{{'transframe.search.placeholder'|translate}}"
        class="form-control input-sm" style="width:200px;" ng-model="transSearch.uploadJob">
    </div>

    <div class="pull-left">
      <a href="" ng-if="totalStat.upStopped>0" class="btn btn-link btn-sm" style="text-decoration:none"
        ng-click="transSearch.uploadJob='stopped'">
        <span class=" text-warning">
          <i class="fa fa-info-circle"></i> {{totalStat.upStopped}}
        </span>
      </a>
      <a href="" ng-if="totalStat.upFailed>0" class="btn btn-link btn-sm" style="text-decoration:none"
        ng-click="transSearch.uploadJob='failed'">
        <span class=" text-danger">
          <i class="fa fa-remove"></i> {{totalStat.upFailed}}
        </span>
      </a>
    </div>

    <!-- 开启空目录上传 -->
    <button type="button" ng-if="!emptyFolderUploading.enabled" class="btn btn-default btn-sm" ng-click="triggerEmptyFolder()" uib-tooltip="{{'upload.emptyfolder'|translate}}" tooltip-append-to-body="true">
      <span class="">
        <i class="text-muted glyphicon glyphicon-level-up"></i>
      </span>
    </button>
    <button type="button" ng-if="emptyFolderUploading.enabled" class="btn btn-default btn-sm" ng-click="triggerEmptyFolder()" uib-tooltip="{{'upload.emptyfolder.disabled'|translate}}" tooltip-append-to-body="true">
      <span class="" style="color: blue;">
        <i class="text-empty-folder-uploading-enabled glyphicon glyphicon-level-up"></i>
      </span>
    </button>


    <!-- 启动全部 -->
    <button ng-disabled="allActionBtnDisabled" type="button" class="btn btn-default btn-sm" ng-click="startAll()"
      uib-tooltip="{{'start.all'|translate}}" tooltip-append-to-body="true">
      <span class="">
        <i class="text-info glyphicon glyphicon-play"></i>
      </span>
    </button>

    <!-- 暂停全部 -->
    <!-- <button ng-disabled="allActionBtnDisabled" type="button" class="btn btn-default btn-sm" ng-click="stopAll()" uib-tooltip="{{'pause.all'|translate}}" tooltip-append-to-body="true">
      <span class=""><i class="glyphicon glyphicon-pause"></i></span>
    </button> -->

    <!-- 清空已完成 -->
    <button type="button" class="btn btn-default btn-sm" ng-click="clearAllCompleted()"
      uib-tooltip="{{'clear.finished'|translate}}" tooltip-append-to-body="true">
      <span class="">
        <i class="glyphicon glyphicon-trash"></i>
      </span>
    </button>

    <!-- 清空所有 -->
    <button type="button" class="btn btn-default btn-sm" ng-click="clearAll()" uib-tooltip="{{'clear.all'|translate}}"
      tooltip-append-to-body="true">
      <span class="">
        <i class="text-danger glyphicon glyphicon-remove"></i>
      </span>
    </button>

    <div class="clearfix"></div>
  </header>

  <div class="clearfix" style="overflow:auto;height:343px;" long-scroll-list load-more="loadMoreUploadItems"
    trigger-size="100">

    <ul class="list-group list-condensed" style="margin-bottom:0px">
      <li class="list-group-item"
        ng-repeat="item in lists.uploadJobList track by item.id">
        <div class="col-sm-4">
          <div class="text-overflow" uib-tooltip-template="'upload-path-tooltip-tpl.html'" tooltip-placement="left"
            tooltip-append-to-body="true">
            {{$index+1}}. {{::item.from.name}}
          </div>

          <div class="progress mg0" style="height:4px;">
            <div class="progress-bar progress-bar-{{item.status|statusCls}}"
              ng-style="{width: (item.progress.loaded|persent:item.progress.total:item.status) + '%'}"></div>
          </div>
        </div>

        <div class="col-sm-2 text-overflow text-{{item.status|statusCls}}">
          <small ng-show="item.status!='running'">
            {{item.status|status:1}}
            <i ng-if="item.message" uib-tooltip="{{item.message}}" tooltip-placement="left"
              tooltip-append-to-body="true" tooltip-popup-close-delay="500" class="fa fa-info-circle"></i>
          </small>
          <small ng-show="item.status=='running'">
            {{item.speed|sizeFormat}}/s
          </small>
        </div>

        <div class="col-sm-4 text-overflow">
          <small ng-show="item.progress.total">
            <span
              ng-if="item.progress.loaded!=item.progress.total">{{item.progress.loaded|sizeFormat}}/</span>{{item.progress.total|sizeFormat}}
          </small>
          <small ng-show="item.estimatedTime">, {{item.estimatedTime|leftTimeFormat}}</small>
          <small ng-if="item.status == 'duplicated'" class="text-danger">
            <i class="glyphicon glyphicon-alert"></i>
            {{'upload.duplicated'|translate}}
          </small>
        </div>

        <div class="col-sm-2 text-right">
          <a ng-if="item.progress.resumable && (item.status=='running' || item.status=='waiting' || item.status=='verifying')"
            href="" ng-click="stopItem(item)" class="btn btn-default btn-xs" uib-tooltip="{{'upload.job.pause'|translate}}"
            tooltip-placement="left">
            <i class="glyphicon glyphicon-pause text-warning"></i>
          </a>

          <a ng-if="item.status=='stopped' || item.status=='failed' || item.status=='finished' || item.status=='duplicated'"
            href="" ng-click="showRemoveItem(item)" class="btn btn-danger btn-xs" uib-tooltip="{{'upload.job.remove'|translate}}"
            tooltip-placement="left">
            <i class="glyphicon glyphicon-remove text-danger"></i>
          </a>

          <a ng-if="item.status=='stopped' || item.status=='failed'" href="" ng-click="checkStartJob(item)"
            class="btn btn-success btn-xs" uib-tooltip="{{'upload.job.retry'|translate}}" tooltip-placement="left">
            <i class="glyphicon glyphicon-play text-success"></i>
          </a>

          <a ng-if="item.status=='duplicated'" href="" ng-click="checkStartJob(item, true)"
            class="btn btn-warning btn-xs" uib-tooltip="{{'upload.job.retry.overwrite'|translate}}" tooltip-placement="left">
            <i class="glyphicon glyphicon-repeat"></i>
          </a>
        </div>

        <div class="clearfix"></div>
      </li>
    </ul>

    <div class="clearfix text-center" style="padding:4px;">
      <span ng-if="limitToNum < lists.uploadJobList.length">
        {{'loading'|translate}}
      </span>
    </div>

  </div>
</div>

<script type="text/ng-template" id="upload-path-tooltip-tpl.html">
  <div class="break text-left">
    <div><label class="text-primary">From:</label> {{item.from.path}}</div>
    <div><label class="text-success">To:</label> kodo://{{item.to.bucket}}/{{item.to.key}}</div>
  </div>
</script>
