<div ng-include="'main/_/top.html'"></div>

<div>

  <div ng-include="'main/files/_/address-bar.html'"></div>

  <div ng-if="ref.mode == 'localBuckets'">
    <div ng-include="'main/files/_/bucket-toolbar.html'"></div>
  </div>
  <div ng-if="ref.mode == 'externalPaths'">
    <div ng-include="'main/files/_/external-path-toolbar.html'"></div>
  </div>
  <div ng-if="ref.mode.endsWith('Files')">
    <div ng-include="'main/files/_/file-toolbar.html'"></div>
  </div>

  <div id="mask" is-loading ng-show="isLoading" style="position: absolute; left: 0; top: 50px; right: 0; bottom: 0; background-color: white; opacity: 0.5; z-index: 9999;"></div>
  <div auto-height="-130" class="file-list-box">
    <section ng-if="ref.mode === 'localBuckets'" style="height:100%">
      <div ng-include="'main/files/_/bucket-list.html'" style="height:100%"></div>
    </section>

    <section ng-if="ref.mode === 'externalPaths'" style="height:100%">
      <div ng-include="'main/files/_/external-path-list.html'" style="height:100%"></div>
    </section>

    <section ng-if="ref.mode.endsWith('Files')" drop-zone="handlerDrop" style="height:100%">
      <div ng-include="'main/files/_/file-list.html'" style="height:100%"></div>
    </section>

  </div>

  <div ng-include="'main/files/transfer/frame.html'"></div>

</div>
