.upload-confirm-modal-body {
    padding: 15px 40px 0;
}

.upload-confirm-modal-body .selected-files-container {
    margin-bottom: 40px;
}

.upload-confirm-modal-body .selected-files-title {
    color: #31708f;
}

.upload-confirm-modal-body .selected-files-list ul {
    overflow: auto;
    max-height: 300px;
}

.upload-confirm-modal-body .upload-options-form .form-group {
    display: flex;
}

.upload-confirm-modal-body .upload-options-form .form-group .form-item-title {
    flex: 0 0 100px;
}

.upload-confirm-modal-body .upload-options-form .form-group .form-item-option {
    flex: 1 0;
}

.upload-confirm-modal-body .upload-options-form .storage-class-options {
    display: flex;
    justify-content: start;
}

.upload-confirm-modal-body .upload-options-form .storage-class-options > * {
    flex: 1 1 110px;
    max-width: 200px;
    text-align: start;
}

.upload-confirm-modal-body .upload-options-form .storage-class-help-text {
    font-size: 0.8em;
}

.upload-confirm-modal-body .upload-options-form .form-group:last-child {
    margin-bottom: 0;
}
