<header class="pd4 file-toolbar" style="min-width: 1280px;">
  <div class="col-sm-7 pd0" style="min-width: 700px;">
    <div class="btn-group" role="group">
      <span class="btn btn-info btn-sm" ng-if="total_folders>0">
        <i class="fa fa-folder" style="color:orange"></i> {{total_folders}}
      </span>
      <button type="button" class="btn btn-info btn-sm" ng-click="showAddFolder()" ng-disabled="currentInfo.bucketGrantedPermission === 'readonly'">
        <i class="glyphicon glyphicon-plus"></i>
        {{'folder.create'|translate}}
      </button>
    </div>

    &nbsp;

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm" ng-click="showUploadDialog()" ng-disabled="currentInfo.bucketGrantedPermission === 'readonly'">
        <i class="glyphicon glyphicon-cloud-upload text-info"></i>
        {{'upload'|translate}}
      </button>
      <button type="button" class="btn btn-default btn-sm" ng-click="showDownloadDialog()" ng-disabled="sel.has.length === 0 || !domains || domains.length === 0">
        <i class="glyphicon glyphicon-cloud-download text-primary"></i>
        {{'download'|translate}}
      </button>

      <button type="button" class="btn btn-default btn-sm" ng-click="showMove(sel.has, true)" ng-disabled="currentInfo.bucketGrantedPermission === 'readonly' || sel.has.length === 0">
        <i class="fa fa-clone text-primary"></i>
        {{'copy'|translate}}
      </button>

      <button type="button" class="btn btn-default btn-sm" ng-click="showRename(sel.has[0])" ng-disabled="currentInfo.bucketGrantedPermission === 'readonly' || sel.has.length !== 1">
        <i class="fa fa-clone text-primary"></i>
        {{'rename'|translate}}
      </button>

      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'more'|translate}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="" ng-click="showMove(sel.has)" ng-disabled="currentInfo.bucketGrantedPermission === 'readonly' || sel.has.length === 0">
              <i class="fa fa-cut text-primary"></i>
              {{'move'|translate}}
            </a>
          </li>
          <li>
            <a href="" ng-click="showDeleteFilesSelected()" ng-disabled="currentInfo.bucketGrantedPermission === 'readonly' || sel.has.length === 0">
              <i class="fa fa-trash text-primary"></i>
              {{'delete'|translate}}
            </a>
          </li>
          <li>
            <a href="" ng-click="showDownloadLinkOfFilesSelected()" ng-disabled="sel.has.length === 0 || !domains || domains.length === 0">
              <i class="fa fa-link text-primary"></i>
              {{'exportDownloadLinks'|translate}}
            </a>
          </li>
          <li>
            <a href="" ng-click="showRestoreFilesSelected()" ng-disabled="currentInfo.bucketGrantedPermission === 'readonly' || sel.has.length === 0">
              <i class="fa fa-fire text-primary"></i>
              恢复
            </a>
          </li>
          <li>
            <a href="" ng-click="showSetStorageClassOfFilesSelected()" ng-disabled="currentInfo.bucketGrantedPermission === 'readonly' || sel.has.length === 0">
              <i class="iconfont icon-a-fileconversion text-primary" style="margin: 0 -4px;"></i>
              设置存储类型
            </a>
          </li>
        </ul>
      </div>
    </div>

    &nbsp;

    <div class="btn-group" role="toolbar" ng-if="keepMoveOptions">
      <button class="btn btn-default btn-sm" type="button"
              uib-tooltip="{{'paste.resources'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true"
              ng-click="showPaste()" ng-disabled="disablePaste()">
        <i class="fa fa-paste"></i>
        <span class="text-primary">{{'paste'|translate}}({{keepMoveOptions.items.length}})</span>
      </button>

      <button class="btn btn-default btn-sm" style="padding-left:3px;padding-right:3px;" type="button" uib-tooltip="{{(keepMoveOptions.isCopy?'copy.cancel':'move.cancel')|translate }}" tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="cancelPaste()">
        <span class="text-danger">
          <i class="fa fa-close"></i>
        </span>
      </button>
    </div>
  </div>

  <div class="col-sm-2 pd0" style="width: 210px;">
    <div class="input-group input-group-sm pull-left" role="group" ng-if="showDomains() && domains && domains.length > 0">
      <select ng-model="selectedDomain.domain" ng-options="domain.name() for domain in domains" name="domain" class="input-md form-control" style="width: 175px;"></select>
    </div>
    <div class="btn-group btn-group-sm" role="group" ng-if="showDomains() && domains && domains.length > 0">
      <button class="btn btn-default btn-sm" type="button" uib-tooltip="{{'refresh.domain'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="refreshDomains()">
        <i class="fa fa-refresh"></i>
      </button>
    </div>
  </div>

  <div class="col-sm-2 pd0">
    <div class="input-group input-group-sm">
      <input type="text" ng-model="sch.objectName" ng-change="searchObjectName()" class="form-control" cleanable-input placeholder="{{'search.files.placeholder'|translate}}">
      <span class="input-group-addon">
        <i class="fa fa-search"></i> {{objects.length}}
        <span ng-if="nextObjectsMarker">+</span>
      </span>
    </div>

  </div>
  <div class="col-sm-1 pd0">
    <span ng-include="'main/files/_/list-view-options.html'"></span>
  </div>

  <div class="clearfix"></div>
</header>
