<div style="height:100%" ng-click="toggleTransVisible(false);">
  <section ng-if="ref.isListView">
    <table id="file-list" class="table table-condensed table-hover table-striped">
      <!-- bootstrap table -->
    </table>

    <div class="text-center clearfix pd2" ng-if="stepByStepLoadingFiles() && nextObjectsMarker">
      <button type="button" class="btn btn-sm btn-link to-load-more" ng-click="toLoadMore();">{{'to.load.more'|translate}}</button>
    </div>
  </section>

  <section ng-if="!ref.isListView">
    <div class="pd10" style="height:100%">
      <div ng-repeat="item in objects"
           class="item-block"
           ng-class="{'active':sel.x['i_'+$index]==true}"
           ng-click="selectFile(item);$event.stopPropagation()"
           ng-dblclick="item.isFolder?gotoAddress(currentBucket,item.path):showPreview(item);$event.stopPropagation()">
        <i class="fa fa-{{item|fileIcon}}" ng-style="item.isFolder?{'color':'orange'}:{}"></i>

        <div class="item-block-name">{{item.name}}</div>
        <div class="item-block-desc" ng-if="item.isFolder">{{'folder'|translate}}</div>
        <div class="item-block-desc" ng-if="!item.isFolder">{{item.size|sizeFormat}}</div>
      </div>

      <div class="clearfix"></div>

      <div class="text-center clearfix pd2" ng-if="stepByStepLoadingFiles() && nextObjectsMarker">
        <button type="button" class="btn btn-sm btn-link to-load-more" ng-click="toLoadMore();">{{'to.load.more'|translate}}</button>
      </div>
      <div class="text-center clearfix pd2" ng-if="!stepByStepLoadingFiles() && nextObjectsMarker">
        {{'loading.more'|translate}}
      </div>
    </div>
  </section>

</div>
