.file-grid {
  & .file-cell {
    position: relative;

    & i.card-img {
      margin-left: 0.25rem;
      font-size: 2.5rem;
    }

    & .selected-mark {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 1.25rem;
      line-height: 1;
    }
  }
}
