<!DOCTYPE html>
<html ng-app="web" ng-controller="mainCtrl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Kodo Browser</title>
  <% for (let css of htmlWebpackPlugin.files.css) { %>
  <link href="<%=css%>" rel="stylesheet">
  <% } %>
  <style>
    .isred {
      background-color: bisque !important;
    }
  </style>
</head>

<body>

  <div ui-view="">
    <section style="text-align:center;display:block;width:128px;margin:250px auto 0">
      <div class="loadEffect">
        <div>
          <span></span>
        </div>
        <div>
          <span></span>
        </div>
        <div>
          <span></span>
        </div>
        <div>
          <span></span>
        </div>
      </div>
    </section>
  </div>

  <toast-list></toast-list>

  <!-- Insert this line before script imports  -->
  <script>
    window.require = require
    const {
      ipcRenderer,
      shell
    } = require('electron');
    const path = require('path')
    const os = require('os')
    var isDev = process.env.NODE_ENV == 'development';

    function openExternal(url) {
      // Open a URL in the default way
      shell.openExternal(url);
    }

    function openDevTools() {
      ipcRenderer.send('asynchronous', {
        key: 'openDevTools'
      });
    }

    var pkg = require('../package.json');

    var Global = {
      app: {
        id: 'kodo-browser',
        logo: 'icons/icon.png',
        version: pkg.version
      },
      config_path: path.join(os.homedir(), '.kodo-browser')
    };
  </script>
  <!-- codemirror dependent diff_match_patch -->
  <script src="./static/diff_match_patch.js"></script>

  <% for (let js of htmlWebpackPlugin.files.js) { %>
  <script type="text/javascript" src="<%=js%>"></script>
  <% } %>

</body>

</html>
