on: [push, pull_request]
name: Test Build
jobs:
  build-on-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: install wine
        # https://github.com/actions/virtual-environments/issues/4589
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 86B72ED9
          sudo add-apt-repository 'deb [arch=amd64] https://mirror.mxe.cc/repos/apt focal main'
          sudo rm -f /etc/apt/sources.list.d/microsoft-prod.list
          sudo apt -qq update
          sudo apt install -yqq --allow-downgrades libgd3/focal libpcre2-8-0/focal libpcre2-16-0/focal libpcre2-32-0/focal libpcre2-posix2/focal
          sudo apt purge -yqq libmono* moby* mono* php* libgdiplus libpcre2-posix3
          sudo apt install -y wine32 wine64
      - name: test
        run: make i test
      - name: build
        run: make linux32 linux64 win32 win64
  build-on-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: test
        run: make i test
      - name: build
        run: make mac
